<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </appenders>

    <loggers>
        <root level="trace">
            <appender-ref ref="console"/>
        </root>

        <!--disable weld logging-->
        <Logger name="org.jboss.weld" level="off" additivity="false"/>
    </loggers>

    <category name="org.jboss">
        <priority value="off"/>
    </category>
</configuration>